
{{#if isAuthenticated}}
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      {{!-- <a class="brand" href="#">Simple Auth</a> --}}
      <ul class="nav">
        <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
        
          <li>{{#linkTo 'users.new'}}Register{{/linkTo}}</li>
          <li>{{#linkTo 'sessions.quit'}}Logout{{/linkTo}}</li>
          
          <li>{{#linkTo "contacts"}}Contacts{{/linkTo}}</li>
          <li>{{#linkTo "units"}}Units{{/linkTo}}</li>
          <li>{{#linkTo "images"}}Images{{/linkTo}}</li>
          <li>{{#linkTo "properties"}}Properties{{/linkTo}}</li>
          <li>{{#linkTo "pages"}}Pages{{/linkTo}}</li>
          <li>{{#linkTo "contact_requests"}}Contact Requests{{/linkTo}}</li>
          
          {{!-- <li>{{#linkTo 'sessions.new'}}Login{{/linkTo}}</li> --}}
      </ul>
    </div>
  </div>

{{/if}}