                <ul id="main_nav">
                    <li><a href="/">Home</a></li>
                    <li>{{#linkTo 'page.render' 'management'}}Management{{/linkTo}}</li>
                    <li>{{#linkTo 'page.render' 'careers'}}Careers{{/linkTo}}</li>
                    <li>{{#linkTo 'contact_requests.new' }}Contact Us{{/linkTo}}</li>
                </ul>
