                <ul id="main_nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Management</a></li>
                    <li><a href="/">Careers</a></li>
                    <li>{{#linkTo 'contact_requests.new' }}Contact Us{{/linkTo}}</li>
                </ul>
