                <ul id="main_nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Management</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Contact Us</a></li>
                </ul>
