        <footer>
            <div class="wrapper">
                <ul id="footer_nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/">Management</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Contact Us</a></li>
                    <li><span>|</span></li>
                    <li><a href="/">&#64;2013 Maxx Realty</a></li>
                    <li><span>|</span></li>
                    <li><a href="/">Powered by Leaselabs<sup>TM</sup></a></li>
                </ul>

                <div class="site_associate">
                    <img src="/assets/icon-house.png" />
                </div>
            </div>
        </footer>
