            <div id="secondary_nav">
                <div class="wrapper">
                    <ul>
                        <li class="first">Search</li>
                        <li>{{#linkTo 'units.search' 'coop'}}co-ops for sale{{/linkTo}}</li>
                        <li class='apt-rent'>{{#linkTo 'units.search' 'apts'}}apartments for rent{{/linkTo}}</li>
                    </ul>
                </div>
            </div>

<div class="search-filter wrapper">
                <div class="col_wrapper">
                    <form>
                    <div class="col-nei">
                        <h3>Neighborhoods</h3>
                        <div class="col_wrapper">
                            <div class="span5">
                                <input type="checkbox" name="" value="Westcherster" class="loc">Westchester<br/>
                                <input type="checkbox" name="" value="Bronx" class="loc">The Bronx<br/>
                                 <input type="checkbox" name="" value="Brooklyn" class="loc">Brooklyn<br/>
                            </div>
                            <div class="span5">
                                <input type="checkbox" name="" value="Manhattan" class="loc">Manhattan<br/>
                                <input type="checkbox" name="" value="Queens" class="loc">Queens<br/>
                                <input type="checkbox" name="" value="all" class="loc">All<br/>
                            </div>
                        
                       
                        </div>
                    </div>
                    <div class="col-bb">
                        <h3>Bedrooms & Bathrooms</h3>
                            <p>
                                <span class="b-size">Bedrooms</span>
                                <input id="qty1" type="text" value="1" class="qty"/>
                                <img src="/assets/btn-minus.png" id="minus1" width="28" height="28" class="minus"/>
                                <img id="add1" src="/assets/btn-plus.png" width="28" height="28" class="add"/>
                            </p>

                            <p>
                                <span class="b-size">Bathrooms</span>
                                <input id="qty2" type="text" value="1" class="qty"/>
                                <img src="/assets/btn-minus.png" id="minus2" width="28" height="28" class="minus"/>
                                <img id="add2" src="/assets/btn-plus.png" width="28" height="28" class="add"/>
                            </p>
           
                    </div>
                    <div class="col-price">
                        <h3>Price Range Slider</h3>
                        <p>
                        <label for="amount">Price range:</label>
                        <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <div id="slider-range"></div>
                    </div>
                    </form>
                </div>

                <img src="/assets/btn-close.png" class="close-panel" />

            </div>
