            <div id="secondary_nav">
                <div class="wrapper">
                    <ul>
                        <li class="first">Search</li>
                        <li>{{#linkTo 'units.search' 'coop'}}co-ops for sale{{/linkTo}}</li>
                        <li>{{#linkTo 'units.search' 'apts'}}apartments for rent{{/linkTo}}</li>
                    </ul>
                </div>
            </div>
