  <div class="sidebar">
      <div class="gallery">

          <div class="image_large">
            <img src="/assets/photo-large.jpg" width=279 height=303/>
          </div>

          <ul class="gallery_list">

            {{#each image in unit.images}}
              <li><img {{bind-attr src=image.image}} width=84 height=67/></li>
            {{/each}}

{{!--             <li><a href="#"><img src="/assets/photo-small.jpg" width=84 height=67/></a></li>
            <li><a href="#"><img src="/assets/photo-small.jpg" width=84 height=67/></a></li>
            <li><a href="#"><img src="/assets/photo-small.jpg" width=84 height=67/></a></li>
            <li><a href="#"><img src="/assets/photo-small.jpg" width=84 height=67/></a></li>
            <li><a href="#"><img src="/assets/photo-small.jpg" width=84 height=67/></a></li>
            <li><a href="#"><img src="/assets/photo-small.jpg" width=84 height=67/></a></li>
 --}}          </ul>

      <a href="/" class="btn google_map">
          google map
      </a>

      {{unit-calculator}}

      </div>

  </div>
