  <div id="calculator">
      <h3>mortgage calculator</h3>
      <form id="MortCal" class="cal">
          <table>
              <tr>
                  <td colspan="2">
                      <label>Mortgage Amount:</label>
                      <input type="text" />
                  </td>
              </tr>
              <tr>
                  <td width="50%"><label>Mortage Term: </label></td>
                  <td><input type="text" id="mor-year" class="sm-input" /> Year</td>
              </tr>
              <tr>
                  <td><label>Interest Rate: </label></td>
                  <td><input type="text" id="int-year" class="sm-input" /> % Per Year</td>
              </tr>
              <tr>
                  <td><label>Start Date: </label></td>
                  <td><input type="text" id="int-year" class="md-input" /></td>
              </tr>
              <tr>
                  <td><label>End Date: </label></td>
                  <td><input type="text" id="int-year" class="md-input" /></td>
              </tr>
              <tr>
                  <td colspan="2">
                      <img src="/assets/cal-btn.png" class="cal-btn" />
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                  <label>Monthly Payment</label>
                  <input type="text" id="int-year" /></td>
              </tr>
          </table>
      </form>
  </div>
