{{!--   <div id="calculator">
      <h3>mortgage calculator</h3>
      <form id="MortCal" class="cal">
          <table>
              <tr>
                  <td colspan="2">
                      <label>Mortgage Amount:</label>
                      <input type="text" id="mor-amount"/>
                  </td>
              </tr>
              <tr>
                  <td width="50%"><label>Mortage Term: </label></td>
                  <td><input type="text" id="mor-year" class="sm-input" /> Year</td>
              </tr>
              <tr>
                  <td><label>Interest Rate: </label></td>
                  <td><input type="text" id="int-year" class="sm-input" /> % Per Year</td>
              </tr>
              <tr>
                  <td><label>Start Date: </label></td>
                  <td><input type="text" id="int-year" class="md-input" /></td>
              </tr>
              <tr>
                  <td><label>End Date: </label></td>
                  <td><input type="text" id="int-year" class="md-input" /></td>
              </tr>
              <tr>
                  <td colspan="2">
                      <img src="/assets/cal-btn.png" class="cal-btn" />
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                  <label>Monthly Payment</label>
                  <input type="text" id="int-year" /></td>
              </tr>
          </table>
      </form>
  </div>
 --}}
<div id="verticalWidget" style="width:192px;overflow:hidden;text-align:center;font-family:verdana,arial,sans-serif;font-size:8pt;line-height:13x;background-color:#dbdbdb;letter-spacing:0;text-transform:none;border-radius: 5px;webkit-border-radius:5px;"><div style="margin:6px 0;"><a href="http://www.zillow.com/mortgage-calculator/" target="_blank" title="Mortgage Calculators on Zillow" style="font-family:Arial;font-size:15px;text-decoration:none;font-weight:bold;color:#666666;cursor: pointer;display: block;text-align: center;text-shadow: 0 1px #fff;">Monthly Payment Calc</a></div><div style="width:176px;margin:0 auto;background-color:#f4f4f4;text-align:left; font-size:8pt;border-radius: 5px; border: 1px solid;border-color:#cccccc;webkit-border-radius: 5px;padding: 0 1px;"><iframe title="Mortgage Calculator" frameborder="0" height="470px" style="float:left;" scrolling="no" width="176px" src="http://www.zillow.com/mortgage/SmallMortgageLoanCalculatorWidget.htm?price=400000&wtype=spc&rid=102001&wsize=small&textcolor=666666&backgroundColor=f4f4f4&advTabColor=9b9b9b&bgcolor=dbdbdb&bgtextcolor=666666&headerTextShadow=fff&widgetOrientationType=verticalWidget"> Your browser doesn't support frames. Visit <a href="http://www.zillow.com/mortgage-calculator/" target="_blank" style="text-decoration:none; font-size:9pt; font-weight:bold;">Zillow Mortgage Calculators</a> to see this content. </iframe><div style="clear:both;"></div></div><div style="height:20px;"><span style="display:block;margin:0 auto;font-size:7pt;height:15px;width:178px;color:#666666;padding-top:2px;"><a href="http://www.zillow.com/mortgage-rates/" target="_blank" title="Zillow Mortgage Marketplace" style="text-decoration:none;color:#3366bb;font-weight:normal;font-family:verdana,arial,sans-serif;font-size:7pt;color:#666666;">Zillow Home Loan Calculator</a></span></div></div>