/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
    transition: 600ms;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
    background: #eaeaea;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

h1,h2,h3,h4 {
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #8b9265;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-size: 15px;
    line-height: 36px;
    margin-bottom: 36px;
}

sup {
    font-size: 8px;
}

.wrapper {
    width: 1024px;
    max-width: 1024px;
    margin: auto;
    display: table;
}

#logo {
    margin-top: 15px;
    display: block;
    float: left;
}

#main_nav {
    float: right;
    margin-top: 42px;
}

#main_nav li {
    float: left;
    list-style: none;
}

#main_nav li a {
    color: #000000;
    font-size: 14px;
    padding: 45px 8px 7px;
    text-transform: uppercase;
}

#main_nav li a:hover {
    background: #8b9265;
    color: #fff;
}

#secondary_nav {
    background: url('../img/cross-pattern.png') 0 1px repeat-x;
    width: 100%;
    height: 45px;
    margin-top: 12px;
}

#secondary_nav ul {
    margin: 0px;
    padding: 0px;
}

#secondary_nav ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
    line-height: 45px;
}

#secondary_nav ul li.first {
    margin-right: 10px;
}

#secondary_nav ul li a {
    background: none repeat scroll 0 0 #8B9265;
    margin: 0 2px;
    padding: 6px 12px;
    color: #fff;
}

#secondary_nav ul li a:hover {
    background: #000;
}

.col-nei, .col-bb, .col-price {
    float: left;
    min-height: 150px;
}

.col-nei {
    border-right: 1px solid #e1e1e1;
    width: 278px;
}

.col-bb {
    border-right: 1px solid #E1E1E1;
    padding-left: 45px;
    width: 235px;
}

.col-price {
    padding-left: 35px;
    width: 340px;
}

.search-filter {
    background: url('../img/white-opacity.png');
    padding: 32px 23px;
    border: 1px solid #e1e1e1;
    position: absolute;
    width: 950px;
    left: 50%;
    margin-left: -485px;
    display: none;
}

.search-filter > div {
    min-height: 150px;
}

.search-filter h3 {
    margin-bottom: 20px;
}

.search-filter p {
    margin-bottom: 15px;
}

.minus, .add {
    cursor: pointer;
}

.close-panel {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

input.qty {
    font-size: 15px;
    height: 23px;
    line-height: 23px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 29px;
}

input.loc {
    height: 23px;
    line-height: 23px;
    width: 25px;
    margin-right: 5px;
    border: 1px solid #000;
}

.b-size {
    min-width: 85px;
    display: inline-block;
}


.ui-widget-header {
    background: none repeat scroll 0 0 #8B9265 !important;
}

.ui-widget-content {
    background: none repeat scroll 0 0 #B0B0B0 !important;
    border: 1px solid #AAAAAA;
    color: #222222;
}

#feature_header {
    margin: 12px 0 24px;
}

#main_body {
    background: #fff;
    border: 3px solid #e1e1e1;
    padding: 27px 34px;
    display: table;
    width: 955px;
    max-width: 975px;
}


/*****Sale Page*****/
.sale_list {
    background: #f0f0f0;
    padding: 30px;
    display: table;
    margin-bottom: 28px;
}
.col {
    float: left;
}

.list_image {
    width: 190px
}
.list_image img {
    border: 4px solid #b2b2b2;
}
.list_address {
    width: 355px;
    padding-top: 15px;
}
.list_price {
    width: 185px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 45px;
}
.list_visit {
    width: 160px;
    padding-top: 25px;
}
.btn {
    display: block;
    background: #8b9265;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
    padding: 6px 12px;
    font-size: 16px;
}
.btn:hover {
    background: #000;
}

/***Details Page***/

body#page_details #main_body {
    padding:  24px;
    margin-top: 8px;
    width: 975px;
}

body#page_details #main_body p {
    line-height: 24px;
}

.detail_price, .detail_id {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 14px;
}

#main_body .sidebar {
    width: 287px;
    float: left;
    margin-right: 20px;
}

#main_body .side_content {
    width: 645px;
    float: left;
}

.gallery_list {
    padding: 0px;
    margin: 0px;
    display: table;
}

.image_large {
    border: 4px solid #bdbdbd;
    margin-bottom: 12px;
}

.gallery_list li {
    list-style: none;
    float: left;
}

.gallery_list li {
    border: 3px solid #bdbdbd;
    margin-right: 7px;
    margin-bottom: 7px
}

.gallery_list li:nth-child(3n+3) {
    margin-right: 0px;
}

.amenity_list {
    padding: 0px;
    margin: 10px 0px 0px 5px;

}

.amenity_list li {
    background: url('../img/green-arrow.png') no-repeat 0px 6px; 
    list-style: none;
    padding-left: 22px;
    line-height: 25px;
}

.col_wrapper {
    display: table;
    clear: both;
    width: 100%;
}
.span3 {
    width: 30%;
    float: left;
    margin-right: 0;
    margin-left: 20px;
}

.span5{
    width: 50%;
    float: left;
}

.span5.last {
    margin-left: 0px;
    width: 45%;
}

.span5.floorplan_image {
    padding-left: 13%;
    width: 27%;
}

.span5.floorplan_image h3 {
    margin-bottom: 7px;
}

.last {
    margin-right: 0px !important;
}

#details_widget {
    margin-top: 15px;
}

.enlarge_btn {
    background: url("../img/icon-plus.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    color: #8B9265;
    display: block;
    margin-top: 10px;
    padding-left: 24px;
    text-decoration: underline;
    text-transform: uppercase;
}

.google_map {
    margin: 15px 0px
}

#calculator {
    background: none repeat scroll 0 0 #F0F0F0;
    padding: 20px;
    font-size: 15px;
}

.cal td {
    padding: 5px 0px;
}

.cal label {
    font-size: 15px;
    margin-bottom: 3px;
    display: block;
}

.cal input[type="text"] {
    width: 100%;
}

.cal input.sm-input[type="text"] {
    width: 30%;
}

.cal input.md-input[type="text"] {
    width: 70%;
}

.cal-btn {
    text-align: right;
    margin: 10px 0px;
    float: right;
}



.contactform {
    width: 640px;
    float: left;
}

.address {
    width: 210px;
    float: left;
    padding-left: 75px;
}

.address p {
    margin-top: -5px;
}

#contact label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 4px;
}

#contact .span5 {
    padding: 0px 22px;
    width: 42%;
}

#contact input[type="text"] {
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 1px solid #8b9265;
    margin-bottom: 10px;f
}

#contact textarea {
    width: 100%;
    height: 175px;
    line-height: 34px;
    border: 1px solid #8b9265;
    margin-bottom: 10px;
}

#contact .submit {
    text-align: right;
    float: right;
}

#contact select {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

/***Footer***/
footer {
    background: url('../img/cross-pattern.png') 0 1px repeat-x;
    width: 100%;
    height: 45px;
    margin-top: 20px;
}

#footer_nav {
    padding: 0;
    margin: 0;
    float: left;
}

#footer_nav li {
    list-style: none;
    line-height: 45px;
    float: left;
    margin-right: 10px;
}

#footer_nav li a {
    color: #535353;
    text-transform: capitalize;
    font-size: 14px;
}

#footer_nav li.active a, #footer_nav li a:hover {
    color: #8b9265;
}

.site_associate {
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}


/*Search Filter*/
.unit-filter {
    margin-bottom: 20px;
}
.unit-filter p {
    margin: 5px 0px;
}

.unit-filter label {
    display: inline-block;
    min-width: 85px;
    font-weight: bold;
}

.unit-filter input {
    width: 75px;
}

.unit-filter input[type="submit"] {
    background: none repeat scroll 0 0 #8B9265;
    border: 0 none;
    color: #FFFFFF;
    font-size: 15px;
    padding: 7px 10px;
    text-transform: uppercase;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
