<h1>Units index page</h1>

<ul>
	{{#each unit in controller}}

		{{unit-snippet-formatted unit=unit}}
		
		{{#if isAuthenticated}}
			{{!-- Show an edit button or link --}}
			{{#linkTo 'unit.edit' unit}}Edit{{/linkTo}}
		{{/if}}

	{{/each}}
</ul>

{{#linkTo 'units.new'}}New unit{{/linkTo}}

<br/>

{{#linkTo 'units.search'}}Search units{{/linkTo}}

{{outlet}}

